<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/assets/style.css" />
    <link
      rel="shortcut icon"
      href="../assets/images/favicon.ico"
      type="image/x-icon"
    />
    <script
      src="https://kit.fontawesome.com/31957ff6ff.js"
      crossorigin="anonymous"
    ></script>
    <title>LibSol</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">LibSol</a>
      </div>
      <nav>
        <ul>
          <li>
            <a class="anim" href="/request"><i class="fas fa-search"></i></a>
          </li>
          <li><a class="anim" href="/">Home</a></li>
          <li><a class="anim" href="/contact">Contact us</a></li>
          <li><a class="anim" href="/adminLogin">Admin Login</a></li>
          <li><a class="anim" href="/register">Sign-Up</a></li>
        </ul>
      </nav>
    </header>
    <div class="main-cont">
      <form action="/request/auth" method="POST">
        <input
          type="text"
          placeholder="Hash Key"
          required
          autofocus
          value="1234"
          name="user_id"
          id="user_id"
        />
        <div class="sub-btn"><button type="submit">Submit</button></div>
      </form>

      <div class="contt">
        <div class="info">
          <h2>Name</h2>
          <h3><%= book.book_name%></h3>
          <br />
          <h2>Author</h2>
          <h3><%= book.author%></h3>
          <br />
          <h2>Publisher</h2>
          <h3><%= book.publisher%></h3>
          <br />
          <h2>Published Year</h2>
          <h3><%= book.published_year%></h3>
          <br />
          <h2>Country</h2>
          <h3><%= book.origin_country%></h3>
          <br />
          <h2>No. of Pages</h2>
          <h3><%= book.pages%></h3>
          <br />
        </div>
        <div class="image-contt">
          <img
            src="/assets/images/books/<%=book.book_id%>.jpg"
            alt="Book Cover"
          />
        </div>
      </div>
    </div>
  </body>
</html>
