<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('Head'); -%>
  </head>
  <body>
    <%- include('Header'); -%>

    <div class="main-admin-view">
      <ul>
        <% admins.forEach(admin => {%>
        <li>
          <h2 style="text-align: left;">
            Name: <%=admin.name.toUpperCase()%>
          </h2>
          <br />
          <p><strong>Phone No:</strong> <%=admin.phone%></p>
          <p><strong>Email:</strong> <%=admin.email%></p>
        </li>

        <%});%>
      </ul>
    </div>
  </body>
</html>
