<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/assets/style.css" />
    <link
      rel="shortcut icon"
      href="../assets/images/favicon.ico"
      type="image/x-icon"
    />
    <script
      src="https://kit.fontawesome.com/31957ff6ff.js"
      crossorigin="anonymous"
    ></script>
    <title>LibSol</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">LibSol</a>
      </div>
      <nav>
        <ul>
          <li>
            <a class="anim" href="/request"><i class="fas fa-search"></i></a>
          </li>
          <li><a class="anim" href="/">Home</a></li>
          <li><a class="anim" href="/contact">Contact us</a></li>
          <li><a class="anim" href="/adminLogin">Admin Login</a></li>
          <li><a class="anim" href="/register">Sign-Up</a></li>
        </ul>
      </nav>
    </header>
    <div class="main-cont">
      <div class="contt">
        <div class="info">
          <h3>User Name</h3>
          <p><%= user.firstName%> <%=user.lastName%></p>
          <br />
          <h3>Book Name</h3>
          <p><%= book.book_name%></p>
          <br />
          <h3>Author</h3>
          <p><%= book.author%></p>
          <br />
          <h3>Borrowing Date</h3>
          <p><%= boDate%></p>
          <br />
          <h3>Due Date</h3>
          <p><%= reDate%></p>
        </div>
        <div class="image-cont">
          <img
            src="/assets/images/books/<%=book.book_id%>.jpg"
            alt="Book Cover"
          />
        </div>
      </div>
      <form action="/request/last" method="POST">
        <div style="display: none;">
          <input type="text" name="user_id" value="<%= user.user_id%>" />
          <input type="text" name="book_id" value="<%= book.book_id%>" />
          <input type="text" name="boDate" value="<%= boDate%>" />
          <input type="text" name="reDate" value="<%= reDate%>" />
        </div>
        <div class="rq-btn"><button type="submit">Confirm</button></div>
      </form>
    </div>
  </body>
</html>
