<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../assets/admin.css" />
    <link rel="stylesheet" href="../assets/style.css" />
    <link
      rel="shortcut icon"
      href="../assets/images/favicon.ico"
      type="image/x-icon"
    />
    <script
      src="https://kit.fontawesome.com/31957ff6ff.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">LibSol</a>
      </div>
      <nav>
        <ul>
          <li>
            <a class="anim" href="/request"><i class="fas fa-search"></i></a>
          </li>
          <li><a class="anim" href="/">Home</a></li>
          <li><a class="anim" href="/contact">Contact us</a></li>
          <li><a class="anim" href="/adminLogin">Admin Login</a></li>
          <li><a class="anim" href="/register">Sign-Up</a></li>
        </ul>
      </nav>
    </header>
    <div class="main-cont">
      <% if (message.length==0) { %>
      <div class="contt">
        <div class="info">
          <h2>Name</h2>
          <h3><%= book.book_name%></h3>
          <br />
          <h2>Author</h2>
          <h3><%= book.author%></h3>
          <br />
          <h2>Publisher</h2>
          <h3><%= book.publisher%></h3>
          <br />
          <h2>Published Year</h2>
          <h3><%= book.published_year%></h3>
          <br />
          <h2>Country</h2>
          <h3><%= book.origin_country%></h3>
          <br />
          <h2>No. of Pages</h2>
          <h3><%= book.pages%></h3>
          <br />
        </div>
        <div class="image-cont">
          <img src="/assets/images/books/<%=book.book_id%>.jpg" alt="" />
        </div>
      </div>
      <div class="rq-btn">
        <form action="/request/book" method="POST">
          <input
            type="text"
            name="id"
            id="id"
            value="<%=book.book_id%>"
            style="display: none;"
          />
          <button type="submit">Request</button>
        </form>
      </div>
      <% } else { %>
      <div class="message">
        <div class="action">
          <h1><%= message %></h1>
          <div class="rq-btn">
            <form action="/request" method="GET">
              <button type="submit">Go Back</button>
            </form>
          </div>
        </div>
        <div class="err-mes-img">
          <img src="/assets/images/books/error.jpg" alt="Error" />
        </div>
      </div>
      <% } %>
    </div>
  </body>
</html>
