<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('Head'); -%>
  </head>
  <body>
    <%- include('Header'); -%>
    <div class="main-uinfo">
      <div class="cont">
        <table>
          <tr>
            <th>Hash</th>
            <td>:</td>
            <td><%= user.user_id %></td>
          </tr>
          <tr>
            <th>First Name</th>
            <td>:</td>
            <td><%= user.firstName %></td>
          </tr>
          <tr>
            <th>Last Name</th>
            <td>:</td>
            <td><%= user.lastName %></td>
          </tr>
          <tr>
            <th>Gender</th>
            <td>:</td>
            <td><%= user.gender %></td>
          </tr>
          <tr>
            <th>Date of Birth</th>
            <td>:</td>
            <td><%= user.DOB %></td>
          </tr>
          <tr>
            <th>Address Line 1</th>
            <td>:</td>
            <td><%= user.address1 %></td>
          </tr>
          <tr>
            <th>Address Line 1</th>
            <td>:</td>
            <td><%= user.address2 %></td>
          </tr>
          <tr>
            <th>Email</th>
            <td>:</td>
            <td><%= user.email %></td>
          </tr>
          <tr>
            <th>Phone No.</th>
            <td>:</td>
            <td><%= user.phone %></td>
          </tr>
        </table>
      </div>
      <div class="btn-container-1">
        <button onclick="window.location.href='/request'">
          Request a Book
        </button>
      </div>
    </div>
  </body>
</html>
