<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../assets/style.css" />
    <link rel="stylesheet" href="../assets/admin.css" />
    <link
      rel="shortcut icon"
      href="../assets/images/favicon.ico"
      type="image/x-icon"
    />
    <title>LibSol</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">LibSol</a>
      </div>
      <nav>
        <ul>
          <li><a class="anim" href="/">Home</a></li>
          <li><a class="anim" href="/contact">Contact us</a></li>
          <li><a class="anim" href="/adminLogin">Admin Login</a></li>
          <li><a class="anim" href="/register">Sign-Up</a></li>
        </ul>
      </nav>
    </header>
    <div class="main-uinfo">
      <div class="cont">
        <table>
          <tr>
            <th>ID</th>
            <td>:</td>
            <td><%= user.id %></td>
          </tr>
          <tr>
            <th>First Name</th>
            <td>:</td>
            <td><%= user.firstName %></td>
          </tr>
          <tr>
            <th>Last Name</th>
            <td>:</td>
            <td><%= user.lastName %></td>
          </tr>
          <tr>
            <th>Gender</th>
            <td>:</td>
            <td><%= user.gender %></td>
          </tr>
          <tr>
            <th>Date of Birth</th>
            <td>:</td>
            <td><%= user.DOB %></td>
          </tr>
          <tr>
            <th>Address Line 1</th>
            <td>:</td>
            <td><%= user.address1 %></td>
          </tr>
          <tr>
            <th>Address Line 1</th>
            <td>:</td>
            <td><%= user.address2 %></td>
          </tr>
          <tr>
            <th>Email</th>
            <td>:</td>
            <td><%= user.email %></td>
          </tr>
        </table>
      </div>
      <div class="btn-container-1">
        <button onclick="window.location.href='/request'">
          Request a Book
        </button>
      </div>
    </div>
  </body>
</html>
