<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('Head'); -%>
  </head>
  <body>
    <%- include('Header'); -%>
    <div class="main-book-view" style="margin: 2em; height: 90vh;">
      <ol style="list-style-type: decimal-leading-zero;">
        <% users.forEach(user => {%>
        <li>
          <p
            style="
              font-size: 1.5em;
              font-weight: bold;
              text-align: center;
              display: inline;
            "
          >
            <%=user.firstName%> <%=user.lastName%>
          </p>
          <br />
          <strong> Hash Key: </strong><%=user.user_id %> <br />
          <strong> Gender: </strong><%=user.gender %> <br />
          <strong> Date of Birth: </strong><%=user.DOB %> <br />
          <strong> Phone No: </strong><%=user.phone %> <br />
          <strong> Address: </strong><%=user.address1%>, <%=user.address2 %>
          <br />
          <strong> Email: </strong> <%=user.email%>
        </li>
        <br />
        <hr />
        <br />
        <%});%>
      </ol>
    </div>
  </body>
</html>
