<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('Head'); -%>
  </head>
  <body>
    <%- include('Header'); -%>
    <div class="main-book-view">
      <ol>
        <% books.forEach(book => {%>
        <li>
          <h3><%=book.book_name%></h3>
          <br />
          <strong> Author: </strong><%=book.author%> <br />
          <strong> Country: </strong><%=book.origin_country%> <br />
          <strong> No.of Copies: </strong> <%=book.copies%>
        </li>
        <br />
        <hr />
        <br />
        <%});%>
      </ol>
    </div>
  </body>
</html>
