<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../assets/style.css" />
    <link rel="stylesheet" href="../assets/admin.css" />
    <link
      rel="shortcut icon"
      href="../assets/images/favicon.ico"
      type="image/x-icon"
    />
    <title>LibSol</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">LibSol</a>
      </div>
      <nav>
        <ul>
          <li><a class="anim" href="/">Home</a></li>
          <li><a class="anim" href="/contact">Contact us</a></li>
          <li><a class="anim" href="/adminLogin">Admin Login</a></li>
          <li><a class="anim" href="/register">Sign-Up</a></li>
        </ul>
      </nav>
    </header>
    <div
      class="main-book-view"
      style="margin: 2em;
    height: 90vh;"
    >
      <ol style="list-style-type:decimal-leading-zero;">
        <% users.forEach(user => {%>
        <li>
          <p
            style="font-size: 1.5em; font-weight: bold;text-align: center;display: inline;"
          >
            <%=user.firstName%> <%=user.lastName%>
          </p>
          <br />
          <strong> Gender: </strong><%=user.gender %> <br />
          <strong> Date of Birth: </strong><%=user.DOB %> <br />
          <strong> Phone No: </strong><%=user.phone %> <br />
          <strong> Address: </strong><%=user.address1%>, <%=user.address2 %>
          <br />
          <strong> Email: </strong> <%=user.email%>
        </li>
        <br />
        <hr />
        <br />
        <%});%>
      </ol>
    </div>
  </body>
</html>
